.block-table {
  padding-bottom: $block-padding-half;

  .table-wrap {
  }

  h3 {
  }

  .table-content {

    @media #{$bp-tab} {
      @include span(12);
    }

  }

  .table-links {

    @media #{$bp-desk} {
    }

    @media #{$bp-tab} {
      @include span(12);
    }

    div {
      @extend .clearfix;
      border-bottom: 1px solid $light-grey;
    }

    span {
      display: inline-block;
      line-height: 1.5em;
      max-width: 50%;
      vertical-align: right;
    }

    .link-wrap {
      text-align: right;
      float: right;
    }

    a {
    }
  }
}


.block-table.home-content{
	.table-content{
		@include span(8);
		@include breakpoint($mb-view){
		@include span(12);
		}
		@include breakpoint($mb-tab-min $mb-tab-max){
		@include span(12);
		}
	}
	.table-links{
		@include span(4 at 9);
		@include breakpoint($mb-view){
			@include span(12);
		}
		@include breakpoint($mb-tab-min $mb-tab-max){
			@include span(12);
		}
		
	
	.table-row{
		margin:0px;
		padding:15px 0 30px;
		width:100%;
		border-top:1px solid #bdbdbd;
		border-bottom:none;
	}
	@for $i from 1 through 15 {
		.table-row:nth-child(#{$i}) .link-title,
		.table-row:nth-child(#{$i}) .link-wrap {
			animation-delay: (.3s+(.3s*$i));
		}
	}
	span{
		display:block;
	}
	.link-title{
		margin:0 0 15px;
		padding:0px;
		font-size:$font-size-large;
		line-height:24px;
		color: $medium-grey;
		font-family: $font-family-base;
		text-transform:uppercase;
		letter-spacing:1.5px;
		max-width: none;
	}
	.link-wrap{
		text-align: left;
		float: none;
		max-width: none;
	a{
		margin:0px;
		padding:0px;
		display:inline-block;
		font-size:$font-size-large;
		line-height:24px;
		font-family: $font-family-heading;
		font-weight:600;
		text-decoration: none;
		position: relative;
		transition: padding .5s;
		z-index: 1;
		transition:all .5s ease 0s;
		-webkit-transition:all .5s ease 0s;
		-moz-transition:all .5s ease 0s;
		-o-transition:all .5s ease 0s;
		-ms-transition:all .5s ease 0s;

		&:hover {
			text-decoration: none;
			color:#000;
			padding:0 10px;
			transition:all .5s ease 0s;
			-webkit-transition:all .5s ease 0s;
			-moz-transition:all .5s ease 0s;
			-o-transition:all .5s ease 0s;
			-ms-transition:all .5s ease 0s;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background-color: #ffffcc;
			height: 100%;
			width: 0;
			z-index: -1;
			transition: width .5s;
		}
		&:hover::before {
			width: 100%;
			transition: width .5s;
		}
	
	
	
	}
	}
	}
	

}


body.dark{ 
	h2 {
    	color: $c-white;
	}
	.block-table{
	.table-row{
		.link-title{
			color: $c-white;
		}
		a{
			color: $c-white;
		}
	}
	}
}

/*//new Media Queries=================*/

@include breakpoint($mb-view){
.home-content .layout-content{
	width:90%;
	margin:0 auto;
}
}

@include breakpoint($mb-tab-min $mb-tab-max){
.home-content .layout-content{
	width:90%;
	margin:0 auto;
}

}
@include breakpoint($big-tab-min $big-tab-max){
.home-content .layout-content{
	width:96%;
	margin:0 auto;
}
}
@include breakpoint($mini-desk-min $mini-desk-max){
.home-content .layout-content{
	width:96%;
	margin:0 auto;
}
}
@include breakpoint($desk-min $desk-max){
.home-content .layout-content{
	width:96%;
	margin:0 auto;
}
}
