@import url("../fonts/tiempo-font.scss");
.sectionCss, .footer_col_sec section {
  margin: 0px;
  padding: 15px 0 30px;
  width: 100%;
  border-top: 1px solid #bdbdbd; }

.gothicOne {
  margin: 0px;
  padding: 0px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-decoration: none;
  font-weight: 400; }

.big-title {
  margin: 0 0 30px;
  padding: 0px;
  font-family: 'Conv_Tiempo' !important;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400; }

.font-size-base {
  margin: 0 0 30px;
  padding: 0px;
  font-family: 'Conv_Tiempo' !important;
  font-size: 18px;
  line-height: 36px !important;
  font-weight: 400; }

.ullist, .menu-footer-menu-container ul, .social-links ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.site-footer {
  background: #FFF; }

.site-info {
  margin: 0px;
  padding: 50px 0;
  width: 100%;
  display: inline-block; }
  .site-info .footer_col_sec {
    padding: 40px 0 50px 0;
    width: 100%;
    display: inline-block; }

.footer_col_sec section h2 {
  margin: 0 0 15px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #9e9e9e;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px; }

.menu-footer-menu-container {
  margin: 0px;
  padding: 0px;
  display: block; }
  .menu-footer-menu-container ul li {
    margin: 0px;
    padding: 0px;
    display: block; }
    .menu-footer-menu-container ul li a {
      margin: 0px;
      padding: 0px;
      display: inline-block;
      font-size: 18px;
      color: #000;
      line-height: 32px;
      font-family: 'Conv_Tiempo';
      font-weight: 600; }

.address-div {
  margin: 0px;
  padding: 0px;
  display: block; }

.address-div p {
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  font-family: 'Conv_Tiempo';
  font-weight: 600;
  text-decoration: none; }

.address-div a {
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: 18px;
  color: #000;
  line-height: 32px;
  font-family: 'Conv_Tiempo';
  font-weight: 600;
  text-decoration: none; }
  .address-div a:hover {
    text-decoration: none; }

.social-links {
  margin: 0px;
  padding: 0px;
  display: block; }

.social-links a {
  margin: 0 10px 0 0;
  padding: 0px;
  display: inline-block; }

.social-links {
  margin: 0px;
  padding: 0px;
  display: block; }
  .social-links ul li {
    margin: 0 10px 0 0;
    padding: 0px;
    display: inline-block; }
    .social-links ul li a {
      display: block; }

.social-links ul li img {
  margin: 0px;
  padding: 0px;
  transition: all 600ms ease .1s; }

.social-links ul li img:hover {
  transform: rotate(360deg); }

.copyright {
  margin: 0 0 15px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #9e9e9e;
  font-family: "Pathway Gothic One", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: .5px; }
  .copyright span {
    float: left;
    line-height: 36px;
    margin: 4px 0 0 0; }
  .copyright a {
    color: #9e9e9e; }

.footer_bottom_img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: table; }

.footer_bottom_img img {
  width: 100%;
  margin: 0px;
  padding: 0px; }

@media (max-width: 480px) {
  .social-links ul li {
    margin-right: 2px; } }

/*# sourceMappingURL=footer.css.map */
