.gothicOne {
  margin: 0px;
  padding: 0px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-decoration: none;
  font-weight: 400; }

#masthead.site-header {
  margin: 0 0 50px;
  padding: 0px;
  position: relative;
  width: 100%; }

.menu-toggle {
  display: none; }

.top_section {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: table;
  position: absolute;
  top: 0px;
  left: 0px; }

.header-banner {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  overflow: hidden; }

.header-banner img {
  margin: 0px;
  padding: 0px;
  width: 100%; }

.brandingNav {
  margin: 0px;
  padding: 30px 0;
  width: 100%;
  display: table;
  border-bottom: 1px solid #205d8a; }

.header-main-logo {
  margin: 0px;
  padding: 180px 0 0 0;
  width: 100%;
  text-align: center; }

.header-main-logo img {
  margin-left: auto;
  margin-right: auto; }

/* Using SCSS variables to store breakpoints */
@media (max-width: 440px) {
  @-moz-document url-prefix() {
    .header-main-logo img {
      width: 100%; } } }
@media (max-width: 599px) {
  .logo {
    position: relative;
    z-index: 999; }

  h1.page_title {
    font-size: 24px;
    line-height: 24px; }

  p {
    font-size: 15px;
    line-height: 24px !important; }

  .homepage-widget section a {
    font-size: 16px; }

  .header-banner img {
    width: auto; }

  .widget-area {
    margin-top: 50px; } }
@media (max-width: 767px) {
  .top_section {
    padding: 0 20px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .brandingNav {
    margin: 0 auto; }

  .header-banner img {
    width: auto; } }

/*# sourceMappingURL=header.css.map */
