.gothicOne {
  margin: 0px;
  padding: 0px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-decoration: none;
  font-weight: 400; }

.big-title, h1 {
  margin: 0 0 30px;
  padding: 0px;
  font-family: 'Conv_Tiempo' !important;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400; }

.font-size-base, p {
  margin: 0 0 30px;
  padding: 0px;
  font-family: 'Conv_Tiempo' !important;
  font-size: 18px;
  line-height: 36px !important;
  font-weight: 400; }

.ullist, .homepage-widget section .ex-attachments ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background: #eeeeee !important; }

#primary {
  float: left;
  width: 65.104166667%;
  padding: 0px;
  margin-top: 30px; }

.widget-area {
  float: right;
  width: 28%;
  margin-top: 30px; }

.home_pahe_content {
  margin: 0px;
  padding: 0px;
  width: 100%; }

h1 {
  color: #212121; }

p {
  color: #212121; }

.homepage-widget {
  padding: 0px; }

.homepage-widget section {
  margin: 0px;
  padding: 15px 0 30px;
  width: 100%;
  border-top: 1px solid #bdbdbd; }

.homepage-widget section h2 {
  margin: 0 0 15px;
  padding: 0px;
  font-size: 18px;
  line-height: 24px;
  color: #9e9e9e;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px; }

.menu-services-menu-container {
  margin: 0px;
  padding: 0px;
  display: block; }

.menu-services-menu-container ul {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.menu-services-menu-container ul li {
  margin: 0px;
  padding: 0px;
  display: inline-block; }

.homepage-widget section a {
  margin: 0px;
  padding: 0px;
  display: block;
  font-size: 20px;
  color: #000;
  line-height: 24px;
  font-family: 'Conv_Tiempo';
  font-weight: 600; }

.homepage-widget section .ex-attachments {
  margin: 0px;
  padding: 0px; }

.homepage-widget section .ex-attachments ul li {
  margin: 0 0 8px;
  padding: 0px;
  display: block; }

/* Using SCSS variables to store breakpoints */
@media (max-width: 767px) {
  #primary {
    width: 100%; }

  .widget-area {
    width: 100%; } }

/*# sourceMappingURL=main-style.css.map */
