.gothicOne, .main-navigation ul li a {
  margin: 0px;
  padding: 0px;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .5px;
  text-decoration: none;
  font-weight: 400; }

.main-navigation {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: block;
  position: relative;
  text-align: right; }
  .main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
    .main-navigation ul li {
      margin: 0 0 0 40px;
      padding: 0px;
      display: inline-block; }
      .main-navigation ul li a {
        color: #FFF;
        line-height: 30px; }
        .main-navigation ul li a:hover {
          text-decoration: underline; }

/* Using SCSS variables to store breakpoints */
@media (max-width: 599px) {
  .menu-toggle {
    display: block;
    float: right;
    margin: 0px;
    padding: 0 10px;
    background: none;
    border: 1px solid transparent;
    font-size: 18px;
    color: #FFF;
    line-height: 35px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: uppercase;
    transition: all .5s ease 0s;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    -ms-transition: all .5s ease 0s; }

  .menu-toggle:hover {
    border: 1px solid #276c9c; }

  .menu-navigation-container {
    display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 70px;
    background: #00548e; }

  .menu-navigation-container ul {
    margin: 0px;
    padding: 0px;
    text-align: left; }

  .menu-navigation-container ul li {
    margin: 0px;
    padding: 0px;
    display: block; }

  .menu-navigation-container ul li a {
    padding: 8px 10px;
    display: block; } }
@media (min-width: 600px) and (max-width: 767px) {
  .main-navigation ul li:first-child {
    margin: 0px; }

  .main-navigation ul li {
    margin-left: 26px; } }

/*# sourceMappingURL=navigation.css.map */
