.block-multi.module {
	position: relative;

	.bg-image{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		@include breakpoint($mb-tab-max){
			background-repeat: no-repeat;
		}
	}
}

/*//== Multi-text-left ==============================*/
.block-multi.multi-text-left{
	.column_image{
		@include span(7 at 6);
		text-align:center;
		padding-top:25px;
		min-height: 770px;
		/*background:rgba(0, 0, 0, 0.3);*/
		@include breakpoint($mb-tab-max){
			@include span(12);
			min-height: inherit;
		}
		img{
			display: block;
			margin: 0 auto;
			max-width:100%;
		}
	}
	.title{
		@include span(5);
		margin:0% 0 4% 0;
		@include vertical-align(absolute);	
		@include breakpoint($mb-tab-max){
			width:100%;
			position: static;
			-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
			transform: translateY(0%);
			padding:30px;
		}
		/*@include breakpoint($big-tab-min $big-tab-max){
			margin:10% 0 0 0;
		}*/
		.title-wrap{
			width:88%;
		}
		
		h3{
			@extend .big-title;
			margin-bottom:15px;
			padding:0 0 25px;
		}
		.subtitle{
			@extend .gothicOne;
			margin-bottom:12px;
			display:block;
		}
		
		> div {
			animation-name: fadeInLeft;

			@media #{$bp-mobile} {
				animation-name: fadeIn;
			}
		}
	}
	.container{
		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $desk-max){
			width:96%;
		}
	}
	
	.no_bg{
		.column_image{
			background:none;
		}
	}
	
}

/*//== Multi-text-right ==============================*/
.block-multi.multi-text-right{
	.container{
		position: relative;

		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $big-tab-max){
			width:96%;
		}
	}
	.column_image{
		min-height: 770px;
		@include span(7);
		margin: 0;
		padding-top:25px;
		text-align:center;
		@include breakpoint($mb-tab-max){
			@include span(12);
			min-height: inherit;
		}
		@include breakpoint($big-tab-min $big-tab-max){
			width:52%;
		}
		
		img{
			display: block;
			margin:0 auto;
			max-width:100%;
		}
	}
	.title{
		@include span(5 last);
		@include vertical-align(absolute);	
		right:0px;
		margin-right:30px;
		@include breakpoint($mb-tab-max){			
			width:100%;
			position: static;
			-webkit-transform: translateY(0%);
			-ms-transform: translateY(0%);
			transform: translateY(0%);
			padding:30px;
			margin-right:0px;
		}
		img{
			display: block;
			width:100%;
		}
		.title-wrap{	
			width:100%;
			@include breakpoint($mb-tab-max){
				margin:30px 0 0 0;
				width:88%;
			}
		}
		> div {
			animation-name: fadeInRight;

			@media #{$bp-mobile} {
				animation-name: fadeIn;
			}
		}
	}

	h3{
		@extend .big-title;
		margin-bottom:15px;
		padding:0 0 25px 0;
	}
	.subtitle{
		@extend .gothicOne;
		margin-bottom:12px;
		display:block;
		color: $medium-grey;
	}	

}


/*//== Multi-text-center ==============================*/
.block-multi.multi-text-center{
	.column_image{
		@include span(7 at 6);
		text-align:center;
		@include breakpoint($mb-tab-max){
			@include span(12);
		}
		img{
			display: block;
			width:100%;
		}
	}
	.title{
		@include span(8);
		position:absolute;
		left:0px;
		top:50px;
		text-align:center;

		> div {
			animation-name: fadeIn;
			background:#FFF;
			padding:70px 90px;
		}
		@include breakpoint($mb-tab-max){
			@include span(12);
			position:static;
			padding:40px 0px;
			text-align: left;
		}
		@include breakpoint($big-tab-min $big-tab-max){
			@include span(8);
			padding:40px 40px 0;
		}

		h3, .content, .subtitle {
			color: $c-black;
		}
		
		.title-wrap{
			width:100%;
			@include breakpoint($mb-tab-max) {
				width: 88%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		h3{
			@extend .big-title;
			margin-bottom:15px;
			padding:0 0 25px 0px;
		}
		.subtitle{
			@extend .gothicOne;
			margin-bottom:12px;
			display:block;
			color: $medium-grey;
		}
		.content p{
			padding:0 10px;
		}	
	}
	.container{
		position:relative;
		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $desk-max){
			width:96%;
		}
	}
}

// Color Corrections

.dark .block-multi, .dark.block-multi {
  h3 {
    border-bottom: $border-black;
  }
}

.light .block-multi, .light.block-multi {
	h3 {
		border-bottom: $border-white;
	}
}