.block-generic-content {
  //padding-top: $block-padding;
  //padding-bottom: $block-padding;

  .gc-wrap {
  	text-align: left;
  }
  h3 {
  }
  p:last-of-type {
  	margin-bottom: 0;
  }
}

/*// #Generic simple text view ==================================*/
.block-generic-content.generic_simple_text_view{
	.gc-wrap{
		width: 800px;
		margin:0 auto;
		float:none;
		text-align:left;
		@include breakpoint($mb-tab-max){
			@include span(10);
			margin:0 auto;
			float:none;
		}
		@include breakpoint(max-width 820px) {
			@include span(12);
			padding-left: 2%;
			padding-right: 2%;
		}
		
	h3{
		@extend .big-title;
		margin-bottom:15px;
		padding:0 0 25px;
	}
	.subtitle{
		@extend .subtitles;
		margin-bottom:12px;
		display:block;
	}
	p{
		margin:0 ;
	}
	}
}


/*== Clients Logo =======================*/
#global_block_3{
	.gc-wrap{
		padding:12px 0;
		
		h3{
			@extend .gothicOne;
			color:#666;
			margin-bottom:15px;
			display:block;
			text-align:center;
		}

		img {
			margin: 0;
		}
	}
	
	.container{
		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $desk-max){
			width:96%;
		}
	}	
	
}
@include breakpoint($mb-view3){
	#global_block_3{
		 .gc-wrap{
		 	 .client{
				display: block;
				margin: 0 0 30px !important;
				
				img{
					height: 5.5em;
					max-width: 100%;
					vertical-align: middle;
					display: block;
					margin: 10px auto;
					width: auto !important;					
				}
			 }
		  }
	 } 
}

@include breakpoint($mb-view4 $mb-tab-max){
	#global_block_3{
		 .gc-wrap{
		 	 .client{
				display: inline-block;
				margin: 0 0 30px !important;
				width:45%;
				padding:0 15px;
				
				img{
					height: 5.5em;
					max-width: 100%;
					vertical-align: middle;
					display: block;
					margin: 10px auto;
					width: auto !important;					
				}
			 }
		  }
	 } 
	
}

/*==Work Info =======================*/
.work-info{
	.gc-content{
		width:60%;
		margin:0 auto;
		text-align:center;
		@include breakpoint($mb-tab-max){
			width:80%;
		}
	}
}

