/*//== half-width-block==============================*/

.block-three-column-image-grid {
	.three-column-image-grid-block{
		margin:0px;
		padding:15px 0 0 0;
		display:table;
		width:100%;

		@include animation-delay($child-el: '> div.wow', $duration: .3s);
	}
	h3{
		@extend .gothicOne;
		margin-bottom:40px;
		display:block;
		text-align:center;
	}
	.bg-image{
		min-height: 268px;
		@include breakpoint($mini-desk-max){
			min-height:inherit;
		}
	}
	.wrapper{
		@include span(4);
		@include breakpoint($mb-tab-max){
			@include span(12);
			text-align: center;
		}
		a{
			margin:0px;
			padding:0px;
			display:block;
			text-decoration:none;
		}
		img{
			width:100%;
		    display: table;
		}
		.image-text{
			padding:5px 0 50px;
		}
		
		.bg-image {
			&.img-fade {
				img {
					filter: grayscale(100%);
					transition: .5s;
					-webkit-transition: .5s;
					opacity: .5;
				}
			}
			img {
				filter: grayscale(0%);
				transition: .5s;
				-webkit-transition: .5s;
				opacity: 1;
			}

			.title{
				font-size:18px;
		    line-height: 36px;
		    font-family: $sonderfont-bold;
				padding:0px;	
		    display: inline-block;
		    position: relative;
		    z-index: 1;
		    -webkit-transition: .5s;
		    transition: .5s;

			  &::before {
			    content: "";
			    position: absolute;
			    left: 0;
			    top: 0;
			    background-color: #ffffcc;
			    height: 100%;
			    width: 0;
			    z-index: -1;
			    -webkit-transition: .5s;
			    transition: .5s;
			  }
			}

			&:hover {
				.title {
			    text-decoration: none;
			    -webkit-transition: .5s;
			    transition: .5s;
			    color:#000;
			    padding: 0 10px;

					&::before {
				    width: 100%;
				    -webkit-transition: .5s;
				    transition: .5s;
					}
				}
			}
		}
	}

	.wrapper.col_2, .wrapper.col_5, .wrapper.col_8, .wrapper.col_11{
		@include span(4 at 9);
		@include breakpoint($mb-tab-max){
			@include span(12);
		}
	}

	.container{
		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $desk-max){
			width:96%;
		}
	}
}

body.dark {
	.block-three-column-image-grid{
		.image-text a span{
			color:$c-white;
			&:hover{
			color:$c-black;
			}
		}
		h3{
			color:$c-white;
		}
	}
}