@font-face {
    font-family: 'SonderRegular';
    src: url('SonderRegular.eot');
    src: url('SonderRegular.eot') format('embedded-opentype'),
         url('SonderRegular.woff2') format('woff2'),
         url('SonderRegular.woff') format('woff'),
         url('SonderRegular.ttf') format('truetype'),
         url('SonderRegular.svg#SonderRegular') format('svg');
}


//@include font-face(SonderRegular, SonderRegular);
