@font-face {
    font-family: 'SonderBold';
    src: url('SonderBold.eot');
    src: url('SonderBold.eot') format('embedded-opentype'),
         url('SonderBold.woff2') format('woff2'),
         url('SonderBold.woff') format('woff'),
         url('SonderBold.ttf') format('truetype'),
         url('SonderBold.svg#SonderBold') format('svg');
}
