@font-face {
	font-family: 'Conv_FoundersGroteskX-CondensedWeb-Medium';
	src: url('FoundersGroteskX-CondensedWeb-Medium.eot');
	src: url('FoundersGroteskX-CondensedWeb-Medium.woff') format('woff'), 
		url('FoundersGroteskX-CondensedWeb-Medium.ttf') format('truetype'), 
		url('FoundersGroteskX-CondensedWeb-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

