html {
}

body{
	max-width:100%;
	margin:0 auto !important;
    position: relative;
}
.site-header, .site-footer, .site-content {
	//@extend .default-grid;
}
.site-main {
    min-height: 100vh;
}

// For loading animations
.site-content, .site-footer {
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;

    &.loading {
        opacity: 0;
         -webkit-transition: .5s;
          transition: .5s;
    }
}
.site-footer {
    transition-delay: .5s;
}

.entry-footer {
    display: none;
}
// ----------------------------

.site-footer
.entry-content{
    display: table;
    width: 100%;
}

.module {
	display: table;
    width: 100%;
    padding-bottom: $bottom-margin;
    position: relative;
    z-index: 1;
}
.module.block-media:first-child {
    //z-index: 0;
}
.video-container {
    margin-bottom: $bottom-margin;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding:0px;
}
// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
/*address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $bottom-margin 0;
}*/

// Generally used as containers
section, header, footer, blockquote {
    margin: 0;
}

// Lists
ul,ol {
    padding: 0;

    li {
        padding: 0;
    }
}

dl {
    padding: 0;

    dd {
        padding: 0;
    }
}
