/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

/*
Default grid should be the outer container for any susy grid
It is included as a class so it may be extended using @extend.
Change the padding here to change default outer grid padding.
Extend .default-grid on either the site container, or around
Individual components as necessary.
*/

@mixin default-grid($padding: 20px) {
  @include container();
  padding-left: $padding;
  padding-right: $padding;
}

.default-grid {
  @include default-grid();
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-align-center($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
  transition: transform .3s linear;

  &:hover {
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
    -webkit-transition: -webkit-transform .15s linear;
            transition: transform .15s linear;
  }
}

@mixin animation-delay($child-el, $animated-el: '', $duration: .3s) {
  @for $i from 1 through 15 {
    #{$child-el}:nth-of-type(#{$i}) #{$animated-el} {
      animation-delay: (($duration*$i)-$duration);
    }
  }
}

.clearfix {
	clear: both;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

strong, b, .bold {
	font-family: $sonderfont-bold;
	font-weight: normal;
}
.bold{
	font-family: $sonderfont-bold;
	line-height: 34px;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.module.no-bottom-margin {
  // Module margins needed to be replaced with padding
  // for background color issues
  padding-bottom: 0 !important;
}

.padding-top {
  padding-top: $bottom-margin !important;
}

// Wordpress Specific
$wp-center: 5px auto 5px auto;
$wp-left:   5px 20px 20px 0;
$wp-right:  5px 0 20px 20px;

.aligncenter {
  display: block;
  margin: $wp-center;
}

.alignleft {
  float: left;
  margin: $wp-left;
}

.alignnone {
  margin: $wp-left;
}

.alignright {
  float: right;
  margin: $wp-right;
}

a {
  img {
      &.aligncenter {
        @extend .aligncenter;
      }

      &.alignleft {
        @extend .alignleft;
      }

      &.alignnone {
        @extend .alignnone;
      }

      &.alignright {
        @extend .alignright;
      }
  }
}

/*//new mixins=============*/
.gothicOne{	
	margin:0px;
	padding:0px;
	font-family: $font-family-base;
	font-size:$font-size-large;
	text-transform:uppercase;
	letter-spacing:1.5px;
	text-decoration: none;
	font-weight: 400;
	line-height:24px;
}
.big-title{
	margin:0 0 30px;
	padding:0px;
	font-family: $font-family-heading;
	font-size:36px;
	line-height:36px;
	@include breakpoint($mb-tab-max){
  	font-size:24px;
  	line-height:24px;
	}
}
.header-two-title{
	margin:0 0 25px;
	padding:0px;
	font-family: $font-family-heading;
	font-size:45px;
	line-height:48px;
	@include breakpoint($mb-tab-max){
  	font-size:24px;
  	line-height:24px;
	}
}
.font-size-base{
	margin:0 0 29px;
	padding:0px;
	font-family: $font-family-heading;
	font-size:$font-size-large;
	line-height:36px;
	/*font-weight:400;*/
	@include breakpoint($mb-tab-max){
  	font-size:16px;
  	line-height:24px;
	}
}
@mixin subtitles() {
  font-size:18px;
  line-height:24px;
  color: $subtitle-grey;
  font-family: $font-family-base;
  text-transform:uppercase;
  letter-spacing:1.5px;
  font-weight: normal;
}
.subtitles {
  @include subtitles;
}
.ullist{
	margin:0px;
	padding:0px;
	list-style:none;
}
.img-responsive {
	display:block;
	max-width:100%;
	height:auto
}
.hover-effect {
  line-height:30px;
  display:inline-block;
  position: relative;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  padding: 0;

  &:hover {
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
    color:#000;
    padding: 0 10px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffcc;
    height: 100%;
    width: 0;
    z-index: -1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  &:hover::before {
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s;
  }
}
@mixin button($padding: 15px,$borderColor: 0, $textColor: white, $accentColor: #33cc66) {
  @extend .hover-effect;
  padding: $padding;
  border: 2px solid $borderColor;
  color: $textColor;
  text-decoration: none;
  transition: all 250ms ease;
  display: inline-block;
  font-weight: bold;
  background-color: $accentColor;

  &:hover {
    color: black;
    padding: $padding;
  }
}
.pilot-button {
  @include button();
}

// Rainbow Gradient

/*
 * CSS animated rainbow dividers of awesome 
 * by Chris Heilmann @codepo8 and Lea Verou @leaverou and unicorn @ollie
 **/

 .rainbow-effect {
  $gradient: left, #f06021, #f3771f, #f78c1c, #f99b1a, #faa718, #ecbe18, #dac11d, #c4c225, #bbc22b, #b0c232, #a1c140, #7dbf5f, #5bbb82, #4eb98e, #3fb7a0, #33b6af, #23b5c4, #06b2e9, #00aced, #00a3e7, #009ce2, #0195da, #008ad0, #0087cd, #017cc4, #0474be, #086fb9, #155eb2, #294eac, #3a40a5, #463aa1, #7b3a7d, #8d3d70, #a1465f, #cd513d, #e55a28, #ec5b23, #f06021;
  background-image: -webkit-linear-gradient($gradient);
  background-image:    -moz-linear-gradient($gradient);
  background-image:      -o-linear-gradient($gradient);
  background-image:     -ms-linear-gradient($gradient);
  background-image:         linear-gradient($gradient);

  $animation: rainbow 2.5s forwards linear infinite;
  -moz-animation:    $animation;
  -webkit-animation: $animation;
  -o-animation:      $animation;
  -khtml-animation:  $animation;
  -ms-animation:     $animation;
  -lynx-animation:   $animation;
  animation:         $animation;

  background-size: 50% auto;
}

@-moz-keyframes rainbow {
  from { background-position: top left; } 
  to   { background-position: top right; }
}
@-webkit-keyframes rainbow { 
  from { background-position: top left; }  
  to   { background-position: top right; }  
}
@-o-keyframes rainbow { 
  from { background-position: top left; }  
  to   { background-position: top right; }  
}
@-ms-keyframes rainbow { 
  from { background-position: top left; }  
  to   { background-position: top right; }  
}
@-khtml-keyframes rainbow { 
  from { background-position: top left; }  
  to   { background-position: top right; }
}
@keyframes rainbow { 
  from { background-position: top left; }
  to   { background-position: top right; }
}