
// Colors

$c-white: #fff;
$c-black: #212121;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #9c9c9c;
$dark-grey: #8a8a8a;
$subtitle-grey: #939393;



// Layout

$block-padding: 3rem;
$bottom-margin: 5%;

$block-padding-half: 1.5rem;

$border-black: rgba(0,0,0,.2);
$border-white: rgba(255,255,255,.2);

// Typography

@font-face {
  font-family: 'SonderRegular';
  src: url('../../fonts/SonderRegular.eot');
  src: url('../../fonts/SonderRegular.eot') format('embedded-opentype'),
       url('../../fonts/SonderRegular.woff2') format('woff2'),
       url('../../fonts/SonderRegular.woff') format('woff'),
       url('../../fonts/SonderRegular.ttf') format('truetype'),
       url('../../fonts/SonderRegular.svg#SonderRegular') format('svg');
}
$font-family-heading: 'SonderRegular', sans-serif;

@font-face {
    font-family: 'SonderBold';
    src: url('../../fonts/SonderBold.eot');
    src: url('../../fonts/SonderBold.eot') format('embedded-opentype'),
         url('../../fonts/SonderBold.woff2') format('woff2'),
         url('../../fonts/SonderBold.woff') format('woff'),
         url('../../fonts/SonderBold.ttf') format('truetype'),
         url('../../fonts/SonderBold.svg#SonderBold') format('svg');
}
$sonderfont-bold: 'SonderBold', sans-serif;

@font-face {
	font-family: 'Founders';
	src: url('../../fonts/FoundersGroteskX-CondensedWeb-Medium.eot');
	src: url('../../fonts/FoundersGroteskX-CondensedWeb-Medium.woff') format('woff'), 
		url('../../fonts/FoundersGroteskX-CondensedWeb-Medium.ttf') format('truetype'), 
		url('../../fonts/FoundersGroteskX-CondensedWeb-Medium.svg') format('svg');
}
$font-family-base: 'Founders', sans-serif;


$font-size-base   : 15px;
$font-size-small  : 14px;
$font-size-large  : 18px;


// Media Queries

$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 768px)";
$bp-desk:	"only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";

//new Media Queries

$mb-view: max-width 600px;
$mb-view2: max-width 492px;
$mb-view3: max-width 480px;

$mb-view4: min-width 481px;

$mb-tab-min: min-width 601px;
$mb-tab-max: max-width 767px;

$big-tab-min: min-width 768px;
$big-tab-max: max-width 991px;

$mini-desk-min: min-width 992px;
$mini-desk-max: max-width 1200px;

$desk-min: min-width 1201px;
$desk-max: max-width 1400px;


// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 100%;
$columns: 12;
$gutters: 1;
$box-sizing: border-box;

