// for each color, set the color name to equivalent of 'colormaker_1' for corresponding color i.e.:
//$color_1 : colormaker_one;
//$color_2 : colormaker_two;

$color_1 : colormaker_one;
$color_2 : colormaker_two;
$color_3 : colormaker_three;

/* Color Block block-name 
- should be .color-class-name for production
 or .default-color-class for development
*/

body.color-class-name {
  background-color: $color_2;

  p {
    color: $color_3;
  }

  h2 {
    color: $color_3;
  }
}

.color-class-name, .color-class-name.module {
  background-color: $color_2;

  p {
    color: $color_3;
  }
}

.color-class-name {
  .module {
    background-color: $color_1;

    &.color-class-name {
      background-color: $color_1;
    }
  }
}

// Header
.color-class-name, header.color-class-name {
  .main-navigation {
    ul {
      li {
        a {
          color: $color_3 !important;

          &:hover {
            color: #212121 !important;
          }
        }
      }
    }
  }

  .logo {
    path {
      fill: $color_3 !important;
    }
  }
}

.color-class-name, .color-class-name.module {

  .site-main {
    background-color: $color_1;
  }


  // Footer


  // Blocks

  &.block-media {
    a.video-btn {
      color: $color_3;

      path {
        fill: $color_3;
      }
    }

    .subtitle {
      color: $color_3;
    }

    .text-effect {
      .effect {
        span {
          color: $color_3;
        }
      }
    }
  }

  .no-media-title {
    h2 {
      color: $color_3;
    }
  }

  .three-column-image-grid-block, &.three-column-image-grid-block {
    .wrapper {

      a:hover .title {
        color: #212121;
      }
      .title {
        color: $color_3;
      }
    }
  }

  .block-table {
    .table-links {
      a {
        color: $color_3;
      }
    }
  }

  .block-multi, &.block-multi {
    h3, .subtitle {
      color: $color_3;
    }

    /*@media only screen and (max-width: 767px) {
      .title {
        h3, p, .subtitle {
          color: #212121;
        }
      }
    }*/
  }

  .block-generic-content {
    h3, .generic-content * {
      color: $color_3;
    }
  }

  // General Use

  .menu-toggle {
    color: $color_3;
  }

  .entry-content {
    background-color: $color_1;
  }
}