// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass";
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/animate.scss/scss/animate";
@import "../../bower_components/wow/css/libs/animate";


// Theme Configuration

@import "variables";
@import "base";
@import "type";
@import "mixins";
@import "layout";

// views

@import "views/navigation";
@import "views/header";
@import "views/footer";

// Pages

//@import "pages/home";
//@import "pages/services";
@import "pages/single";
@import "pages/payment";

// Modules

@import "../../includes/modules/modules";

*, *:before, *:after {
  box-sizing: border-box;
}
body{
	background-color: $body-grey;
	margin:0px;
	padding:0px;
}

img {
	max-width: 100%;
}

.container{
	@include container($container);
	overflow: hidden;
	padding-left: 2%;
	padding-right: 2%;
}

.subtitle {
	@extend .subtitles;
}

.col-3{
	@include span(3);
}
.col-4{
	@include span(4);
}
.col-6{
	@include span(6);
}
.col-8{
	@include span(8);
}
.brandingNav .col-8{
	@include span(8 at 5);
}
#primary{
	@include span(8);
}
.homepage-widget{
	@include span(4 at 9);
}
h1{
	@extend .big-title;
	color:#212121;
}
p{
	@extend .font-size-base;
	color:#212121;
}
a {
	color: inherit;
}
.homepage-widget{
	padding:0px;
}
.homepage-widget section{
	margin:0px;
	padding:15px 0 30px;
	width:100%;
	border-top:1px solid #bdbdbd;
}
.homepage-widget section h2{
	margin:0 0 15px;
	padding:0px;
	font-size:18px;
	line-height:24px;
	color:#9e9e9e;
	font-family: $font-family-base;
	text-transform:uppercase;
	letter-spacing:.5px;
}
.menu-services-menu-container{
	margin:0px;
	padding:0px;
	display:block;
}
.menu-services-menu-container ul{
	@extend .ullist;
}

.homepage-widget section{
	margin:0px;
	padding:15px 0 30px;
	width:100%;
	border-top:1px solid #bdbdbd;
}
.homepage-widget section h2{
	margin:0 0 15px;
	padding:0px;
	font-size:18px;
	line-height:24px;
	color:#9e9e9e;
	font-family: $font-family-base;
	text-transform:uppercase;
	letter-spacing:.5px;
}
.menu-services-menu-container{
	margin:0px;
	padding:0px;
	display:block;
}
.menu-services-menu-container ul{
	@extend .ullist;
}
.menu-services-menu-container ul li{
	margin:0px;
	padding:0px;
	display:inline-block;
}
.homepage-widget section a{
	margin:0px;
	padding:0px;
	display:block;
	font-size:20px;
	color:#000;
	line-height:24px;
	font-family: $font-family-heading;
	font-weight:600;
	text-decoration: none;
	
	&:hover {
        text-decoration: underline;
    }
}
.homepage-widget section .ex-attachments{
	margin:0px;
	padding:0px;
}
.homepage-widget section .ex-attachments ul{
	@extend .ullist;
}
.homepage-widget section .ex-attachments ul li{
	margin:0 0 8px;
	padding:0px;
	display:block;
}
.footer_col_sec .col-4{
	@include span(4);
}
.footer_col_sec .col-right-4{
	@include span(4 last);
}
.nested-item{
	@include span(4 of 8);
}




/*=== Blog Page CSS =====================================================*/
.blog-page-top{
	margin:0 auto 25px;
	padding:15px 0;
	width:70%;
	display:table;
	@include breakpoint($mb-tab-max){
		margin:0 auto 30px;
		width:90%;
	}
	@include breakpoint($big-tab-min $big-tab-max){
		padding:15px 2%;
		width:100%;
	}
		.post-search{
			@include span(4);
			@include breakpoint($mb-tab-max){
				@include span(12);
				margin-bottom:15px;
			}
				form{
					margin:0px;
					position:relative;
					width: 100%;
					@include breakpoint($mb-tab-max){
						@include span(12);
					}
						input[type="text"]{
							margin: 0px;
							padding: 8px 10px;
							font-size: 17px;
							color: #fff;
							line-height: 18px;
							border: 1px solid #7d7d7d;
							width: 100%;
							float: left;
							background:none;
							font-family: $font-family-base;
							letter-spacing:1px;
							text-transform:uppercase;
						}
					input[type="submit"]{
						margin:0px;
						padding:0px;
						position:absolute;
						top:10px;
						right:15px;
						background:url(../../images/search-icon.png) no-repeat center center;
						width:16px;
						height:16px;
						background-size:100%;
						border: none;
						text-indent: -9999px;
					}
					
::-webkit-input-placeholder {
   color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}
:-ms-input-placeholder {  
   color: #fff;  
}					
						
				}
		}
		.categories-list{
			@include span(4);
			font-size: 20px;
			color: #008cd7;
			line-height: 20px;
			@include breakpoint($mb-tab-max){
				@include span(12);
				margin-bottom:15px;
			}
				form{
					margin:0px;
					padding:0px;
					float: left;
					width: 100%;
					/*@include breakpoint($mb-tab-max){
						width: 58%;
					}
					@include breakpoint($big-tab-min $big-tab-max){
						width: 58%;
					}
					@include breakpoint($mini-desk-min $desk-max){
						width: 58%;
					}*/
				}
				span{
					font-size: 18px;
					font-style:italic;
					float: left;
					line-height: 36px;
					margin: 0 10px 0 0;
					@include breakpoint($big-tab-min $big-tab-max){
						font-size: 18px;
					}
				}
				select{
					margin:0px;
					padding:7px 10px;
					font-size: 17px;
					color: #fff;
					line-height: 18px;
					width: 100%;
					border: 1px solid #7d7d7d;
					background:none;
					font-family: $font-family-base;
					letter-spacing:1px;
					text-transform:uppercase;
					@include breakpoint($big-tab-max){
						width: 100%;
					}
					@include breakpoint($mini-desk-min $mini-desk-max){
						width: 100%;
					}
					
					option{
					color: #000;
					background:none;
					font-family: $font-family-base;
					letter-spacing:1px;
					text-transform:uppercase;
					}	
				}
		}
		.archives-list{
			@include span(4 at 9);
			font-size: 20px;
			color: #008cd7;
			line-height: 20px;
			@include breakpoint($mb-tab-max){
				@include span(12);
			}
			span{
					font-size: 18px;
					font-style:italic;
					margin: 0 10px 0 0;
					float: left;
					line-height: 36px;
					@include breakpoint($big-tab-min $big-tab-max){
						font-size: 18px;
					}
				}
				select{
					margin:0px;
					padding:7px 10px;
					font-size: 17px;
					color: #fff;
					line-height: 18px;
					width: 100%;
					border: 1px solid #7d7d7d;
					background:none;
					font-family: $font-family-base;
					letter-spacing:1px;
					text-transform:uppercase;
					option{
					color: #000;
					background:none;
					font-family: $font-family-base;
					letter-spacing:1px;
					text-transform:uppercase;
					}
				}
		}
}
.blog-page{
	.container{
		@include breakpoint($mb-tab-max){
		width: 90%;
		}
		@include breakpoint($big-tab-min $big-tab-max){
			width: 96%;
		}
		@include breakpoint($mini-desk-min $mini-desk-max){
			width: 96%;
		}
	}
}
.blog-section{
	background:#fff;
	color:#555252;
	/*border-left:14px solid #15363d;*/
	margin-bottom:40px;
  width: 100%;
  display: table;
  position: relative;

	@include breakpoint($mb-tab-max){
		border-left:0px;
	}
	@include breakpoint($big-tab-min $big-tab-max){
		width: 98%;
	}
		.blog-content{
			width: 50%;
			float: left;
			margin-right:0px;
			padding:45px 70px;
			background:#fff;
			transition:all .3s ease-in-out;
			@include vertical-align(absolute);

			@include breakpoint($mb-tab-max){
				@include span(12);
				padding:25px 0;
				opacity:0.8;
			}
			@include breakpoint($big-tab-min $big-tab-max){
			padding:25px;
			}
			@include breakpoint($mini-desk-min $mini-desk-max){
			padding:25px;
			}
			&:hover{
				background:#fff;
				transition:all .5s ease-in-out
			}
		}
		.blog-post-img{
			width: 50%;
			float: right;
			margin-right:0px;
			height:465px;
			overflow: hidden;
			@include breakpoint($mb-tab-max){
			width: 100%;
			}
			
		}
		
		
		.blog-text-intro{
			padding:0 20px;
			@include breakpoint($big-tab-min $big-tab-max){
			padding:0px;
			}
			
			h2{
				@extend .big-title;
				font-size:32px;
				line-height:34px;
				margin-bottom:15px;
				font-weight:400;
				@include breakpoint($big-tab-min $big-tab-max){
					font-size:22px;
				}
				
				a{
				text-decoration:none;
				color:#212121;
				}
			}
			.post-meta{
				@extend .gothicOne;
				color:#B9B9B9;
				font-weight:400;
				margin-bottom:20px;
				
				time.published{
				}
				span.author span{
					color:#B9B9B9;
				}
			}
			p{
				line-height:30px;
				color: #212121;
			}
		}
}
.evenpost{
	.blog-content{
		float: right;
	}
}

.blog-page{
	.navigation{
		width:100%;
		display:table;
		padding:15px 0;
		margin:0 0 15px;
		text-align:center;
		span{
			display:inline-block;
		}
			.older{
				margin:0px;
				padding:0px;
				text-align:center;
					a{
						margin:0;
						padding:10px 15px;
						font-size:18px;
						color:#fff;
						text-decoration:none;
						display:inline-block;
						transition:all .3s ease-in-out;
						font-family: $font-family-base;
						text-transform:uppercase;
						letter-spacing:1px;
						&:hover{
							color:#fff;
							transition:all .5s ease-in-out
						}
					}
			}
			.newer{
				margin:0px;
				padding:0px;
				text-align:center;
					a{
						margin:0;
						padding:10px 15px;
						font-size:18px;
						color:#fff;
						text-decoration:none;
						display:inline-block;
						transition:all .3s ease-in-out;
						font-family: $font-family-base;
						text-transform:uppercase;
						letter-spacing:1px;
						&:hover{
							color:#fff;
							transition:all .5s ease-in-out
						}
					}
			}
		
	}
}

/*=== Search Page CSS =====================================================*/
.search-results, .archive{
	.page-header{
		background-size:cover;
		display:block;
		width:100%;
		height:500px;
		margin-bottom:35px;
		background-position:center center;
		position: relative;
	
		.banner-overlay {
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:100%;
			background-color:#111;
			opacity:.65;
			z-index:99;
		}
			.page-title{
				margin:0 0 0 0;
				padding:0px;
				@extend .big-title;
				font-size:34px;
				line-height:35px;
				color:#fff;
				position: relative;
				z-index:100;
				top:60%;
				width: 60%;
				margin: 0 auto;
				text-align: center;
			}
	}
	.search-result-div{
		@include span(8);
		margin:0 auto;
		float:none;
		@include breakpoint($mb-tab-max){
			@include span(10);
			margin:0 auto;
			float:none;
		}
			article{
				margin:0 0 30px;
				padding:0px;
				/*border-bottom:1px solid #ccc;*/
					h2{
						@extend .big-title;
						font-size:32px;
						line-height:34px;
						margin-bottom: 20px;
							a{
								color:#212121;
								text-decoration:none;
							}
					}
					.entry-meta{
						@extend .gothicOne;
						color:#777777;
							a{
								color:#019ef2;
								text-decoration:none;
							}
					}
					h5{
						@extend .font-size-base;
					  }
					a, strong{
						color:#0eb3fc;
						text-decoration:none;
					}  
					
			}
			.posts-navigation{
				margin:20px 0 30px;
				padding:15px;
				background:#fff;
				width:100%;
				display:table;
					.nav-previous{
						float:left;
					}
					.nav-next{
						float:right;
					}
						a{
							@extend .big-title;
							font-size:20px;
							line-height:22px;
							color:#008cd7;
							text-decoration:none;
						}
			}
	}
}


.search-no-results{
	.page-header{
		display:block;
		width:100%;
		height:400px;
		margin-bottom:35px;
		background:rgba(0, 0, 0, 0.6);
		position: relative;
	}
	.page-title{
		margin:0 0 0 0;
		padding:0px;
		@extend .big-title;
		font-size:34px;
		line-height:35px;
		color:#fff;
		position: relative;
		z-index:100;
		top:60%;
		width: 60%;
		margin: 0 auto;
		text-align: center;
	}
}

.archive .search-result-div article{
	border-bottom:1px solid #ccc;
	padding:0 0 25px;
}

h2{
	@extend .header-two-title;
	margin-bottom:20px;
}


.contact-page-content{
    text-align: left;
    width: 100%;
    display: table;
    margin: 50px auto 0;
	@include breakpoint($mb-tab-max){
		width: 90%;
	}
	@include breakpoint($big-tab-min $big-tab-max){
		width: 70%;
	}
	@include breakpoint($mini-desk-min $mini-desk-max){
			width:96%;
		}
	
	h3{
		@extend .gothicOne;
		color:#ABABAB;
		margin: 0 0 15px;
	}
	p{
		color: #212121;
	}
	.contact-left{
		width:34%;
		float:left;
		padding:15px 0;
		position: relative;
		@include breakpoint($mb-tab-max){
			@include span(12);
		}
		@include breakpoint($big-tab-min $big-tab-max){
			@include span(12);
		}
		@include breakpoint($mini-desk-min $mini-desk-max){
			width:42%;
		}
		.address-info{
			float:left;
			p{
				line-height: 34px;
				@include breakpoint($mini-desk-min $mini-desk-max){
				    font-size:15px;
					line-height: 30px;
				}
			}
			
		}
		img{
		@include breakpoint($mb-tab-max){
			float:none;
		}
		}
		
	}
	.contact-right{
		width:59%;
		float:right;
		padding:15px 0;
		@include breakpoint($mb-tab-max){
			@include span(12);
		}
		@include breakpoint($big-tab-min $big-tab-max){
			@include span(12);
		}
		@include breakpoint($mini-desk-min $mini-desk-max){
			width:55%;
		}
		ul{
			margin:0px;
			padding:0px;
			list-style:none;
		}
		li{
			margin: 0 20px 20px 0;
			padding: 0px;
			display: inline-block;
			width: 46%;
			float: left;
			clear: none !important;
			@include breakpoint($mb-tab-max){
				width: 100%;
				margin-right:0px;
			}
			
			input{
				margin:0px;
				padding:10px 15px;
				width:100% !important;
				@extend .font-size-base;
				border:1px solid #DCDCDC;
			}
			::-webkit-input-placeholder {
			   color: #212121;
			}
			:-moz-placeholder { /* Firefox 18- */
			   color: #212121;  
			}
			::-moz-placeholder {  /* Firefox 19+ */
			   color: #212121;  
			}
			:-ms-input-placeholder {  
			   color: #212121;  
			}
			
			span.wpcf7-not-valid-tip{
				font-size:14px;
			}
			
			
		}
		label{
				display: none !important;
			}
		li.message-field{
			width: 96%;
			@include breakpoint($mb-tab-max){
				width: 100%;
			}
		textarea{
				margin:0px;
				padding:10px 15px;
				width:98.6%;
				height:150px;
				@extend .font-size-base;
				border:1px solid #DCDCDC;
				@include breakpoint($mb-tab-max){
					width: 100%;
				}
				@include breakpoint($big-tab-min $mini-desk-max){
					width: 100%;
				}
				
			}
			}
			
				input.wpcf7-submit{
				margin:0px;
				padding:15px;
				width:28%;
				@extend .gothicOne;
				border:none;
				background:#4caf50;
				color:#fff;
				transition:all .5s ease-in-out;
				@include breakpoint($mb-tab-max){
					width: 40%;
				}
				&:hover{
					background:#229727;
				}
				}
			div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng{
				border:2px solid #F9A3A3;
				font-size:14px;
				margin:15px 0;
				padding:5px 10px;
				width: 94%;
				background: #ffbdb3;
			}
	}
}




/*//new Media Queries=================*/

@include breakpoint($mb-view){
.col-4, #primary, .homepage-widget{
	@include span(12);
}
.site-main{
	margin:0 auto;
}


}

@include breakpoint($mb-tab-min $mb-tab-max){
.col-4{
	@include span(12);
}
.site-main{
	margin:0 auto;
}

}

@include breakpoint($big-tab-min $big-tab-max){
.site-main{
	margin:0 auto;
}

}

@include breakpoint($mini-desk-min $mini-desk-max){
.site-main{
	margin:0 auto;
}

}
@include breakpoint($desk-min $desk-max){
.site-main{
	margin:0 auto;
}

}

.wow {
  visibility: hidden;
}

//========RESPONSIVE VIDEO=================

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
