/*//== half-width-block==============================*/

.block-two-column-image{
	.wrapper{
	@include span(6);

		@include breakpoint($mb-tab-max){
			@include span(12);
		}

		a{
			margin:0px;
			padding:0px;
			display: inline-block;
			text-decoration:none;
		}
		img{
			width:100%;
		    display: table;
		}
		.image-text{
			padding:70px 80px;
			text-align:center;
			background:#FFF;
			@include breakpoint($mb-tab-max){
				padding:40px;
			}
			@include breakpoint($big-tab-min $desk-max){
				padding:40px 30px;
			}
		}
		.title{
			@extend .big-title;
			color:#000;
			margin-bottom:15px;
			padding:0 0 25px 0px;
			border-bottom:1px solid #cfcfcf;
			display: block;
		}
		.subtitle{
			@extend .gothicOne;
			color:#9c9c9c;
			margin-bottom:12px;
			display:block;
		}
		.content p{
			color:#000;
			padding:0 10px;
			margin:0 ;
		}
	}
	
	.wrapper.col_0{
		@include breakpoint($mb-tab-max){
			margin-bottom:5%;
		}
	}
	.wrapper.col_1{
		@include span(6 at 7);
		@include breakpoint($mb-tab-max){
			@include span(12);
		}
	}
	
	.container{
		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $desk-max){
			width:96%;
		}
	}
}
