footer.site-footer{
	background:#FFF;
	position: relative;
	z-index: 1;

	/*&.fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 1800px;
		z-index: -1;

		@media only screen and (min-width: 1800px) {
			left: 50%;
			margin-left: -900px;
		}
	}*/

	p {
		color: $c-black;
	}

	.footer_col_sec section{
		margin:0px;
		padding:15px 0 30px;
		width:100%;
		h2{
			margin:0 0 15px;
			padding:0px;
			@include subtitles;
		}
	}

	.copyright{
		margin:0 0 15px;
		padding:0px;
		@include subtitles;

		span{
			float: left;
		}
		a{
			color:#9e9e9e;
			text-decoration: none;
		
			&:hover {
		    text-decoration: underline;
		  }
		}
	}
}
.site-info{
	margin:0px;
	padding:50px 0;
	width:100%;
	display:inline-block;

  .footer_col_sec{
	padding:40px 0 50px 0;
	width:100%;
	display:inline-block;
	}
}

.menu-footer-menu-container{
	margin:0px;
	padding:0px;
	display:block;
 ul{
	@extend .ullist;
 li{
	margin:0px;
	padding:0px;
	display:block;
 a{
	margin:0px;
	padding:0px;
	display:inline-block;
	font-size:18px;
	color:#000;
	line-height:32px;
	font-family: $sonderfont-bold;
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: padding .5s;
		&:hover{
			padding:0 10px;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			background-color: #ffffcc;
			height: 100%;
			width: 0;
			z-index: -1;
			transition: width .5s;
		}
		&:hover::before {
			width: 100%;
			transition: width .5s;
			padding:0 10px;
		}
	
	}
	}
	}
}

.address-div{
	margin:0px;
	padding:0px;
	display:block;
}
.address-div p{
	margin:0px;
	padding:0px;
	display:block;
	font-size:18px;
	color:#000;
	line-height:32px;
	font-family:$sonderfont-bold;
	text-decoration:none;
}
.address-div a{
	@extend .hover-effect;
}
.social-links{
	margin:0px;
	padding:0px;
	display:block;
}
.social-links a{
	margin:0 10px 0 0;
	padding:0px;
	display:inline-block;
	@include breakpoint($big-tab-min $big-tab-max){
		margin:0 4px 0 0;
	}
}


.social-links{
	margin:0px;
	padding:0px;
	display:block;
 ul{
 	@extend .ullist;
 li{
	margin:0 10px 0 0;
	padding:0px;
	display:inline-block;
  a{
  	display:block;
	}
}
}
}
.social-links ul li img{
	margin:5px 0 5px;
	padding:0px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}
.social-links ul li img:hover {
	margin:0px 0 10px;
}

.footer_bottom_img{
	margin:0px;
	padding:0px;
	width:100%;
	display:table;
	img{
		width:100%;
		margin:0px;
		padding:0px;
		display:table;
	}
}


/* Mobile - responsive css here =====================================*/

@include breakpoint($mb-view){
.site-info, .footer_bottom_img{
	width:86%;
	margin:0 auto;
    display: table;
}
.site-info .footer_col_sec .col-4, 
.site-info .footer_col_sec .col-right-4{
	@include span(12);
}
.social-links ul li{
    margin: 0 2px 0 0;
}
.copyright span{
    line-height: 24px;
}
}

/* Tab - responsive css here ==========================================*/

@include breakpoint($mb-tab-min $mb-tab-max){
.site-info, .footer_bottom_img{
	width:90%;
	margin:0 auto;
    display: table;
}
.site-info .footer_col_sec .col-4, 
.site-info .footer_col_sec .col-right-4{
	@include span(12);
}
}

@include breakpoint($big-tab-min $big-tab-max){
.site-info, .footer_bottom_img{
	width:96%;
	margin:0 auto;
    display: table;
}
.social-links ul li{
	margin: 0 4px 0 0;
}
}

@include breakpoint($mini-desk-min $mini-desk-max){
.site-info, .footer_bottom_img{
	width:96%;
	margin:0 auto;
    display: table;
}
}

@include breakpoint($desk-min $desk-max){
.site-info, .footer_bottom_img{
	width:96%;
	margin:0 auto;
    display: table;
}
}