#masthead.site-header{
	margin:0px;
	padding:0px;
	position:relative;
	width:100%;
}
.site-branding {
	h1 {
		height: 0;
		width: 0;
		text-indent: -999em;
	}
}
.menu-toggle{
	display:none;
}
.top_section{
	margin:0px;
	padding:0px;
	width:100%;
	display:table;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 999;
}
.top_section .container{
    overflow: visible;
    padding-left: 2%;
    padding-right: 2%;
}
.header-banner{
	width:100%;
	display:inline-block;
	text-align:center;
	overflow:hidden;
}
.header-banner img{
	margin:0px;
	padding:0px;
}
.brandingNav{
	margin:0px;
	padding:30px 0;
	width:100%;
	display:table;
	position: relative;
  @include breakpoint($mb-view){
		width:86%;
		margin:0 auto;
		padding:20px 0;
	}
}

.page-template-blog-page .brandingNav, .search-results .brandingNav, .archive .brandingNav{
	border-bottom:none;
}

.logo {
	svg {
		width: 104px;
		height: 25px;
	}
}

.header-main-logo{
	margin:0px;
	padding:180px 0 0 0;
	width:100%;
	text-align:center;
	@include breakpoint($mb-view){
	width:86%;
	margin:0 auto;
	}
}
.header-main-logo img{
	margin-left:auto;
	margin-right:auto;
}

.no-media-title{
	margin:0px;
	padding:150px 0 20px 0;
	text-align:center;
	width:100%;
	display:table;

	h2{
		@extend .big-title;
		font-size:60px;
		line-height:80px;
		color:#fff;
		font-weight: 400;
		margin: 0 auto !important;
		width: 70%;
		@include breakpoint($mb-tab-max){
			width: 85%;
			font-size:32px;
			line-height:40px;
		}
		@include breakpoint($big-tab-min $big-tab-max){
			font-size:48px;
			line-height:60px;
		}

	}
}
.no-media-page-content{
	margin:0px;
	padding:0px;
	width:100%;
	display:table;

	.no-media-content-inner{
		margin:0 auto !important;
		padding:0px;
		width:100%;
		display:table;
		text-align:center;
	}

	p{
		color:#fff;
		line-height:24px;
	}
}

body.light .no-media-title h2{
	color:$c-black;
}
body.light .logo svg path{
	fill:$c-black;
}


/* Using SCSS variables to store breakpoints ================*/

@include breakpoint($mb-tab-max){
.logo{
	position:relative;
	z-index:999;
}
.brandingNav .col-3{
	@include span(6);
}
.top_section .brandingNav .col-8{
	@include span(12);
}
h1.page_title{
	font-size:30px;
	line-height:30px;
}
.homepage-widget section a{
	font-size:16px;
}
.header-banner img{
	width:auto;
}
.widget-area{
	margin-top:50px;
}
/*body.home .block-media .title{
	top:25%;
}*/

}


@include breakpoint($mb-view2){
.header-main-logo img {
	width: 96%;
}
}

@include breakpoint($mb-tab-min $mb-tab-max){
.brandingNav{
	width:90%;
	margin:0 auto;
}
}

@include breakpoint($big-tab-min $big-tab-max){
	.brandingNav{
		width:96%;
		margin:0 auto;
	}
}

@include breakpoint($mini-desk-min $mini-desk-max){
	.brandingNav{
		width:96%;
		margin:0 auto;
	}
}

@include breakpoint($desk-min $desk-max){
	.brandingNav{
		width:96%;
		margin:0 auto;
	}
}

// Styling for PACE loading bar

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

	overflow: hidden;
  position: absolute;
  width: 100%;
	left:0;
	bottom: -1px;
  z-index: 2000;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  @extend .rainbow-effect;
  width: 100%;
  position: relative;
  width: 100%;
  height: 1px;
  right: 100%;
}