.main-navigation{
	margin:0px;
	padding:0px;
	width:100%;
	display:block;
	position:relative;
	text-align:right;
	@include breakpoint($mb-view){
	margin:-27px 0 0 0;
	}
	
 ul{
	margin:0px;
	padding:0px;
	list-style:none;

 li{
	margin:0 0 0 40px;
	padding:0px;
	display:inline-block;
a{
	@extend .gothicOne;
	color:#FFF;
	line-height:30px;
	display:inline-block;
	position: relative;
	padding:0 10px;
	&:hover {
		text-decoration: none;
		transition: color .5s;
		color:#000;
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background-color: #ffffcc;
		height: 100%;
		width: 0;
		z-index: -1;
		transition: width .5s;
	}
	&:hover::before {
		width: 100%;
		transition: width .5s;
	}
}

	}
	}
	
		
}



/* Using SCSS variables to store breakpoints */

$breakpoint-mobile: 599px;
$breakpoint-tablet: 600px;
$breakpoint-tabletto: 767px;


/* Mobile - responsive css here ========================================*/

@include breakpoint($mb-tab-max){
header .menu-toggle{
	display:block;
	float:right;
	margin:0px;
	padding:0 10px;
	background:none;
	border: 1px solid transparent;
	font-size:18px;
	line-height:24px;
	letter-spacing:1px;
	text-decoration: none;
	font-family: $font-family-base;
	text-transform:uppercase;
	transition:all .5s ease 0s;
	-webkit-transition:all .5s ease 0s;
	-moz-transition:all .5s ease 0s;
	-o-transition:all .5s ease 0s;
	-ms-transition:all .5s ease 0s;
}

.menu-navigation-container{
	display:none;
}
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tabletto) {
.main-navigation ul li:first-child{
	margin:0px;
}
.main-navigation ul li{
	margin-left:26px;
}

}

body.dark .menu-toggle{
	color:$c-white;
}
body.light .main-navigation ul li a{
	color:$c-black;
}