.block-slider {
  position: relative;

  .colorbox {
    display: block;
  }

  .slick-prev, .slick-next {
    svg {
      fill: white;
    }
  }

  .slider-block {
	height:100px;
	.slick-slide{
		height:100px;
	}
 //   @media #{$bp-mobile} {
   //   padding-bottom: 0;
    //}
  }

  h3 {
  }

  .slick-prev, .slick-next {

    svg {
      width: 25px;
      height: 25px;
    }
  }

  .slick-prev {
    left: 2.5%;

    svg {
      transform: rotate(270deg);
    }
  }

  .slick-next {
    right: 2.5%;

    svg {
      transform: rotate(90deg);
    }
  }

}
