.block-caption {
	display:inline-block;
	position:relative;
	.container{
		max-width:1320px;
		text-align:center;
		font-family:$font-family-base;
		text-transform:uppercase;
		font-size:$font-size-large;
		color: $subtitle-grey;
		.caption-title{
			height:0;
			&.has-caption{
				height:69px;
				text-align:left;
				padding-top:24px;
				padding-bottom:24px;
				border-top:solid 1px #c6c6c6;
				letter-spacing: 1.5px;
			}
		}
		.caption-full-width{
		    margin-left: auto;
		    margin-right: auto;
			text-align:center;
			.caption-title{
				width:100%;
				text-align:left;
			}
			img{
				width:100%;
				height:auto;
			}
		}
		.caption-half-width{
			vertical-align:top;
			display:inline-block;
			width:47.8260869565%;
			max-width:631.3px;
			margin-right: 4.347826087%;
		    margin-left: auto;
			float:left;
			@include breakpoint($mb-tab-max){
				width:100%;
				max-width:800px;
				margin-right: 0;
				float:none;
				text-align:center;
				margin-bottom: 25px;

				+ .caption-half-width {
					margin-bottom: 0;
				}
			}

			.caption-title{
				width:100%;
			}
			img{
				width:100%;
				height:auto;
			}
		}
		.caption-half-width:nth-child(2){
			float:right;
			margin-right: 0;
			@include breakpoint($mb-tab-max){
				float:none;
				text-align:center;
				.caption-title{
					margin-top:0;
				}
				.caption-title.has-caption{
					margin-top:5%;
				}
			}
		}
	}
	.container{
		@include breakpoint($mb-tab-max){
			width:90%;
		}
		@include breakpoint($big-tab-min $desk-max){
			width:96%;
		}
	}

}