$light-grey-bg            : #EEEEEE;
$standard-grey            : #939393;
$perspective              : perspective(1000px);
$pickled-bluewood         : #2F3C4E;
$bismark                  : #516F85;
$casablanca               : #F9AF4C;
$red-damask               : #DC7043;
$material-success         : #2E7D32;

@mixin box-shadow($depth : 1){
  @if $depth == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  @else if $depth == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  @else if $depth == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  @else if $depth == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  @else if $depth == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.page-template-page-payment {
  .site-content {
    //overwrite the javascript
    margin-bottom: 0 !important;
  }

	.layout-container {
		width: 300px;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
	}

	.payment-logo {
		width: 100px;
		height: 30px;
	}

  .gform_wrapper {
    margin: 0;
  }

	header {
		margin-bottom: 30px;
    padding-top: 30px;

    h1 {
      font-size: 60px;
      font-weight: normal;
      line-height: 1;
    }
	}


  // form styles

  form {
    
    .gform_heading {
      display: none;
    }

    .gform_body {
      width: 100% !important;
    }

    .gform_card_icon_container {
      display: none;
    }

    ul {
      list-style: none;
    }

    label {
      font-family: "Founders", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #939393;
      padding-right: 0;
      font-weight: normal;
      margin-bottom: 8px;
      display: block;
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), select {
      border: 0;
      padding: 10px 15px;
      width: 100%;
      font-size: 18px;
      display: block;
      margin-bottom: 14px;

      &:focus {
        outline: 0;
        box-shadow: 0 2px 10px 2px rgba(0,0,0,.12);
      }
    }

    input[type='submit'] {
      width: 100%;
      border: 0;
      background-color: #00c853;
      color: white;
      font-size: 18px;
      font-weight: bold;
      padding: 10px 0;
      margin-top: 28px;
      margin-bottom: 52px;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    // Card Graphic  
    #field_4_4 {
      margin-left: -70px;
      padding-right: 0;
      width: 440px;
      height: 300px;
      max-width: none;
      margin-bottom: 28px;

      .reference-card {

        $perspective : perspective(600px);

        position: relative;
        width: 440px;
        height: 300px;
        margin-top: 28px;

        &.flipped {
          .card {
            &.front {
              background-color: darken($light-grey-bg, 40%);
              -webkit-transform: $perspective rotateY(180deg);
              z-index: 1;
            }

            &.back {
              background-color: darken($light-grey-bg, 10%);
              -webkit-transform: $perspective rotateY(360deg);
              z-index: 2;
            }
          }
        }

        .card {
          width: 440px;
          height: 300px;
          border-radius: 1.5vmin;
          position: absolute;
          transform-style: preserve-3d;
          -webkit-transform-style: preserve-3d;
          transition: transform .5s ease, background-color .5s ease;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          -webkit-transform: $perspective;
          box-shadow: 0 2px 10px 2px rgba(0,0,0,.12);
          z-index: 3;

          &.front {
            background-color: white;
            -webkit-transform: $perspective rotateY(0deg);
            z-index: 2;
          }

          &.back {
            background-color: white;
            -webkit-transform: $perspective rotateY(180deg);
            z-index: 1;
          }
        }

        .front {
          .card-icon {
            position: absolute;
            right: 40px;
            bottom: 30px;
            font-size: 16px;
            margin-right: 0;
            text-indent: -9000px;
            background-repeat: no-repeat;
            width: 35px;
            height: 30px;

            &.gform_card_icon_visa {
              background-image: url(../../images/gf-creditcard-icons.png);
              background-position: 0 0;
            }

            &.gform_card_icon_amex {
              background-image: url(../../images/gf-creditcard-icons.png);
              background-position: -72px 0;
            }

            &.gform_card_icon_mastercard {
              background-image: url(../../images/gf-creditcard-icons.png);
              background-position: -36px 0;
            }
          }

          .card-number {
            font-size: 36px;
            position: absolute;
            top: 130px;
            display: inline-flex;
            margin: 0 3.5vmin;
            padding: 0 1vmin;

            > div {
              margin-right: 1.6vmin;
            }
          }

          .expiry-date-group {
            position: absolute;
            top: 61%;
            right: 11.75vmin;
            display: flex;
            align-items: center;

            .valid-thru {
              text-transform: uppercase;
              line-height: 1;
              font-size: 8px;
              font-family: Verdana, sans-serif;
            }

            .expiry-date {
              margin-left: 10px;
              display: flex;
              font-size: 18px;

              .month, .year {
                font-family: $sonderfont-bold;
              }
            }
          }

          .cardholder {
            font-size: 18px;
            position: absolute;
            text-transform: uppercase;
            top: 80%;
            left: 40px;
            font-family: $sonderfont-bold;
          }
        }

        .back {

          .mag-strip {
            width: 100%;
            height: 7vmin;
            top: 6vmin;
            position: absolute;
            background-color: black;
          }

          .ccv-group {
            width: 95%;
            height: 41px;
            top: 105px; left: 10px;
            position: absolute;
            background-color: white;
            display: inline-flex;

            > div {
              margin: 10px 20px 0 0;
              font-size: 18px;
            }

            .sample-numbers {
              margin-left: auto;
            }

            .ccv {

              display: inline-flex;
            }
          }
        }

        .focused {
          animation: colorBlink .5s ease infinite alternate;

          @keyframes colorBlink {
            from {
              color: transparentize($pickled-bluewood, .5);
            }
            to {
              color: transparentize($pickled-bluewood, 0);
            }
          }
        }
      }
    }

    .input-container, .cc-field .input-container  {
      width: 300px;
      height: 36px;
      margin: 8px 0;
      position: relative;
    }

    .ginput_card_expiration_container {
      width: 300px;
      
      select {
        width: 94px;
        display: inline-block;
        margin-right: 9px;
        height: 44px;
        color: black;
      }
    }

    .ginput_cardextras {
      position: relative;
      display: block;
    }

    // Prevent extra margin from CCV field span
    #input_4_1_2_cardinfo_right {
      margin-left: -10px;
    }

    label[for="input_4_1_3"] {
      position: absolute;
      top: 0;
      right: 58px;
    }

    #input_4_1_3 {
      width: 83px;
      float: right;
      position: relative;
      height: 44px;
    }

    #input_4_1_5_label {
      clear: both;
    }

    //checkbox styles
    #choice_4_5_1 {
      display: inline-block;
      width: 20px;
      vertical-align: top;
      font-size: 12px;
      line-height: 16px;
      text-transform: none;
      font-weight: normal;
      background: white !important;
      position: relative;
      top: 5px;
    }

    #field_4_5 {
      > label {
        display: none;
      }
    }

    #input_4_5 {
      margin-top: 30px;
    }

    #label_4_5_1 {
      display: inline-block;
      width: 260px;
      margin-left: 10px;
      line-height: 20px;
      text-transform: none;
      font-family: verdana;
      font-size: 12px;
      letter-spacing: 0;
    }

    .material-btn {
      display: flex;
      width: 300px; height: 48px;
      margin: 16px 0;
      background-color: lighten($pickled-bluewood, 10%);
      transition: background-color .2s ease, box-shadow .2s ease;
      will-change: background-color, box-shadow;
      color: white;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 300;
      letter-spacing: 2px;
      cursor: pointer;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      
      &:hover {
        background-color: lighten($pickled-bluewood, 5%);
      }
      
      &:active {
        background-color: $pickled-bluewood;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }
    }
  }


  // Page bottom

  .payment {
    margin-top: 40px;
    margin-bottom: 70px;

    p {
      text-align: center;
      display: block;
      margin-bottom: 0;
      text-transform: uppercase;
      font-family: "Founders", sans-serif;
      color: #939393;
      letter-spacing: 2px;
      font-weight: normal;
      font-size: 18px;
    }
    address {
      font-family: "SonderBold", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      line-height: 1.8;
      color: #939393;     
    }
  }

  .t-c {
    font-family: Verdana, sans-serif;
    color: #939393;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 200px;

    strong {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 1.5px;
      color: #939393;
      font-family: "Founders";
    }
  }

  .validation_message {
    color: red;
  }


  // Thank you page

  .thanks {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #212121;
    z-index: 9001;
    width: 100vw;
    min-height: 100vh;    

    .container {
      width: 400px;
      max-width: 90%;
      margin: 100px auto;
      overflow: visible;
      animation-delay: 1s;

      .thanks-box {
        padding: 50px;
        margin-left: -80px;
        margin-right: -80px;
        border: 1px solid #ccc;
        margin-bottom: 50px;
        
        svg {
          width: 100px;
          height: 25px;
          margin-bottom: 40px;

          path {
            fill: white;
          }
        }

        h1 {
          color: white;
          font-size: 60px;
          line-height: 1.4;
          animation-delay: 1.5s;
        }
      }

      .body {
        .confirmation {
          font-family: $font-family-base;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: white;
          margin-bottom: 30px;
        }

        .link {
          color: white;
          font-family: $sonderfont-bold;
          text-decoration: none;
          margin-bottom: 10px;
          line-height: 1.6;
          position: relative;
          transition: .2s;
          display: block;
          left:0;

          &:hover {
            left: 8px;
            transition: .3s;

            &::before{
              left: -8px;
            }
          }

          &::before {
            content: "\203A";
            margin-right: 10px;
            color: white;
            position: relative;
            left:0;
            transition: .3s;
          }
        }
      }
    }
  }

  .site-header, .site-footer {
    display: none;
  }

  .footer-logo {
    vertical-align: bottom;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}