/*=== Single blog Page CSS =====================================================*/
.single-blog-header{
	background-size:cover;
	display:block;
	width:100%;
	height:500px;
	background-position:center center;
	position: relative;
	
		.banner-overlay {
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:100%;
			background-color:#111;
			opacity:.65;
			z-index:99;
		}
		.single-post-meta{
			position: relative;
			z-index:100;
			text-align:center;
			top:60%;
			width:80%;
			margin:0 auto;
			@include breakpoint($mb-tab-max){
				top:35%;
			}
			
			h2{
				@extend .big-title;
				font-size:60px;
				line-height:80px;
				color:#fff;
				margin-bottom:20px;
				@include breakpoint($mb-tab-max){
					font-size:30px;
					line-height:32px;
				}
			}
			.entry-meta{
				@extend .gothicOne;
				color:#fff;

				.author{
					color:#0eb3fc;
						a{
							color:#0eb3fc;
							text-decoration:none;
						}
				}
			}
			
		}
}

.single-post-content{
	margin:0 auto;
	width:70%;
	
	p:first-child:first-letter {
		float:left;
		color:#0eb3fc;
		font-size:75px;
		line-height:60px;
		padding-top:4px;
		padding-right:8px;
		padding-left:3px
	}
	h5{
		@extend .font-size-base;
	}
}

.single-post{
	.post-navigation{
		display:none;
	}

	.entry-content {
		padding-top:35px;
		background-color: #e0e0e0;
	}
}