.block-media {
	margin-bottom: 5%;
	position: relative;
	font-size: 0; // to keep inline-block display of half-width elements correct
	padding-bottom: 0;
	padding-top: 0;
  &.small-height {

    .layout-content {
      height: 400px;
    }

    .bg-image {
      height: 400px;
    }
	}

  .layout-content {
    height: 80vh;
    width: 100%;
    @media #{$bp-mobile} {
      height: 450px;
    }
  }

  .img-block-wrap {
    height: 100%;
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: top center;
		overflow: hidden;

    .video {
      // should cover entire element
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
    }
    .img-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    @media only screen and (max-width: 700px) {
      height: 100%;
      padding-bottom: 100%;
    }
  }
	.title {
		@include vertical-align(absolute);
		left:0px;
		width: 100%;
		text-align: center;
		color: white;
		z-index: 999;

		img {
			display: block;
			margin: 0 auto;
		}
		.title-wrap {
			max-width: 60%;
			margin-left: auto;
			margin-right: auto;

			@include breakpoint($mb-tab-max){
				max-width: 80%;
			}
			.subtitle {
				font-size: 18px;
				margin-bottom: 0px;
				display: block;
			}
	
			&:hover {
				a {
					&::after {
						max-height: 70px;
						-webkit-transition: max-height .5s ease;
						transition: max-height .5s ease;
					}
				}
			}
		}
	}

  .img-block-wrap.half-width {
      display: inline-block;
      width: 50%;
      position: relative;

      &:first-of-type {
        border-right: 1px solid #f5f5f5;
      }
    .bg-image {
      @media only screen and (max-width: 1400px) {
        height: auto;
        padding-bottom: 100%;
      }
    }

  }
}


.video-media {
	a.video-btn {
		display: block;
		padding: 5px 60px;
		/*border-top: 2px solid white;*/
		display: inline-block;
		position: relative;
		@extend .gothicOne;
		line-height: 45px;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 0;
		-webkit-transition: max-height .5s ease;
		transition: max-height .5s ease;
		opacity: .5;
		z-index: -1;
	}
	svg {
    width: 44px;
    height: 44px;
    display: inline-block;
	float: left;
	margin: 0 15px 0 0;
}
}
}

.home .block-media.header-banner .title .title-wrap{
	@include breakpoint($mb-tab-max){
		max-width: 60%;
	}
}


/*=== Media Full Width ======================================================*/
.caption-area-full-width{
	.bg-image{
		height: auto;
	}
	.title{
		padding-left: 0px;
		padding-right: 0px;
		
		.title-wrap{
			max-width: 100%;
			padding:15px 0 0;
			border-top:1px solid #c6c6c6;
		
		img{
			width: 100%;
		}
		span.subtitle{
			@extend .gothicOne;
			color:#9c9c9c;
			margin-bottom:12px;
			display:block;
	    text-align: left;
		}
	}
	
}

.container{
	position:relative;
	@include breakpoint($mb-tab-max){
		width:90%;
	}
	@include breakpoint($big-tab-min $desk-max){
		width:96%;
	}
}
}

@media only screen and (max-width: 700px) {
	.block-media.caption-area-full-width .bg-image{
		padding-bottom: 0%;
	}
}


/*=== Media Half Width ======================================================*/
.media-half-width{
    width: $container;
    margin: 0 auto;
	@include breakpoint($mb-tab-max){
		width: 90%;
	}
	@include breakpoint($big-tab-min $desk-max){
		width: 96%;
	}
	.bg-image{
		height: auto;
	}
	.title{
		padding-left: 0px;
		padding-right: 0px;
		@include span(12);
		@include breakpoint($mb-tab-max){
			@include span(12);
		}
		
		.title-wrap{
			max-width: 100%;
			padding:15px 0 0;
			border-top:1px solid #c6c6c6;
		img{
			width: 100%;
		}
		span.subtitle{
			@extend .gothicOne;
			color:#9c9c9c;
			margin-bottom:12px;
			display:block;
		    text-align: left;
		}
		}
		
	}
	
.img-block-wrap{
	width:50%;
	float:left;
	@include breakpoint($mb-tab-max){
		@include span(12);
		margin-bottom:30px;
	}
}
.container{
	position:relative;
	width:100%;
	float:left;
	@include breakpoint($mb-tab-max){
		width:100%;
	}
	@include breakpoint($big-tab-min $desk-max){
		width:96%;
	}
}	
}
.media-half-width .layout-content > div:last-child .container{
	float:right;
}

@media only screen and (max-width: 700px) {
	.block-media.media-half-width .bg-image{
		padding-bottom: 0%;
	}
}
.video-media{
	.title-wrap{
	h3{
		@extend .big-title;
		font-size:60px;
		line-height:60px;
		font-weight:400;
		color:#212121;
		@include breakpoint($mb-tab-max){
			font-size:32px;
			line-height:32px;
			margin-bottom:10px;
		}
	}
		
	}
}

/*===== Blog Page media =====================================*/

.blog-media{
	.title-wrap{
	
		h3{
		@extend .big-title;
		font-size:60px;
		line-height:60px;
		font-weight:400;
		color:#fff;
		@include breakpoint($mb-tab-max){
			font-size:32px;
			line-height:32px;
			margin-bottom:10px;
		}
		}
	}
}
		
/* General link styles */
.block-media.video-media {
	.title{		
		.effect{
			@include breakpoint($mb-tab-max){
				font-size: 32px;
				line-height: 36px;
			}
	}
	}
	
}

.text_effect{
	margin:0 0 30px;
	padding:0;
	width:100%;
	display:table;
	text-align:center;
	@include breakpoint($mb-tab-max){
		margin:0 0 10px;
	}
	.effect{
		margin:0px;
		padding:0px;
		display:inline-block;
		font-size:60px;
		color:#FFF;
		text-decoration:none;
		line-height:60px;
		font-family: $font-family-heading;
		position:relative;
		overflow:hidden;
		z-index:1;
		cursor:pointer;
		@include breakpoint($mb-tab-max){
			font-size:36px;
			line-height:40px;
		}
		
	&:hover{
		color:#FFF;
	}
	/*&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		right: 0;
		z-index: -1;
		background: #ffffcc;
		-webkit-transform: translate3d(101%,0,0);
		transform: translate3d(101%,0,0);
		-webkit-transition: -webkit-transform 1s;
		transition: transform 1s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
	&:hover::after {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-transition: -webkit-transform 0.5s;
		transition: transform 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
	
	span {
		display: block;
		position: relative;
	}
	span::before {
		content: attr(data-letters);
		position: absolute;
		color: #000;
		left: 0;
		overflow: hidden;
		white-space: nowrap;
		width: 0%;
		-webkit-transition: width 0.5s;
		transition: width 0.5s;
		-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
		transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	}
	&:hover span::before {
		width: 100%;
	}*/
	}

}

.dark .block-media .video-btn path, 
.dark.module .video-btn path{
	fill:#fff;
}


#html5-lightbox-box #html5-watermark{
	display:none !important;
}